<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.mindfire.plugin"
      version="0.1.0">
    <name>MyPlugin</name>
    <description>Demo Plugin</description>
    <license>Some value</license>
    <keywords>phonegap</keywords>
 
    <js-module src="www/myplugin.js" name="MyPlugin">
        <clobbers target="window.myplugin" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyPlugin">
                <param name="android-package" value="com.mindfire.plugin.MyPlugin"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/MyPlugin.java" target-dir="src/com/mindfire/plugin" />
     </platform>
</plugin>